.about-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 2em;
}

.about-profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 5em;
}
.about-sertifikasi-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 5em;
}

.about-skills-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 3em;
}

.profile-info-bio {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.profile-info-bio__image {
  width: 200px;
  height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 13px;
  margin: 0 auto;
  border: 3px solid #eb3941;
  filter: brightness(75%);
  transition: ease 300ms;
  cursor: pointer;
}

.profile-info-bio__name {
  padding-top: 13px;
  color: var(--Background, #fff);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
}
.profile-info-bio__jobs {
  color: #eb3941;
  padding-top: 13px;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
}

.profile-summary {
  display: block;
  width: 100%;
  /* padding: 20px; */
  margin-top: 3em;
  /* margin-bottom: 3em; */
}

.profile-summary .profile-summary__heading {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 13px;
  text-transform: capitalize;
}

.profile-summary .profile-summary__text {
  color: #fff;
  text-align: justify;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.3px;
}

/* 
  profile-summary__action
*/
.profile-summary__action {
  display: block;
  width: 100%;
  /* height: 300px; */
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-summary__action .profile-summary__action__button {
  color: var(--Background, #fff);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  border-radius: 12px;
  background: var(--Primary-600, #d71149);
}

.about-education__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 20px;
}

.about-education__list-item {
  padding: 20px;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #fafafa;
  background-color: transparent;
}

.about-education__list-item-campus {
  color: var(--Font-600, #fff);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.about-education__list-item-prodi {
  color: var(--Font-600, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.about-education__list-item-date {
  color: var(--Font-600, #fff);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

.about-education__list-item-description {
  padding-top: 20px;
  padding-bottom: 20px;

  align-self: stretch;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);

  text-align: start;
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 18px */
}

.sertifikasi-list {
  display: flex;
  justify-content: start;
  align-content: start;
  gap: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.sertifikasi-list__item {
  width: auto;
  height: auto;
  border-radius: 8px;
  margin-bottom: 30px;
}

.sertifikasi-list__item-image {
  width: 350px;
  height: 250px;
  border-radius: 8px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 13px;
  margin: 0 auto;
  transition: ease 300ms;
  cursor: pointer;
}

.profile-info-bio__social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
  padding-top: 13px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-heading {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 13px;
  text-transform: capitalize;
}

.skills-items-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  flex: 1 1 calc(33.333% - 40px); /* 33.333% untuk tiga kolom, dikurangi jarak antar item */
  min-width: 250px; /* Memastikan ukuran minimal agar tidak terlalu kecil */
  box-sizing: border-box;
  height: 100px;
  padding: 20px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #fafafa;
  background-color: transparent;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.skills-items__image {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  background: transparent;
}

.skills-items__info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.skills-items__info-name {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.skills-items__info-status {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
